body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #c88489;
}

.firstSection {
  background-color: #ecbabe;
  display: flex;
  justify-content: space-around;
}

.navBar {
  display: flex;
}

.Github,
.Twitter {
  margin: 0 20rem;
}

.secondSection {
  display: flex;
  background-color: #86363c;
  margin: 8rem 20rem;
  padding: 5rem 5rem;
  flex-direction: column;
  align-items: center;
}

.playerSection {
  display: flex;
  margin: 0 0 3rem 0;
}

.computerSection {
  display: flex;
  margin: 5rem 0 0 0;
}

.playerScore,
.computerScore {
  display: flex;
  align-items: flex-end;
}

.githubHeader,
.twitterHeader {
  font-size: 1rem;
  font-weight: 700;
  color: #919090;
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
}

img {
  min-width: 4rem;
  max-width: 10rem;
}

.reset {
  display: none;
}

.footer {
  display: flex;
  justify-content: center;
  height: 3rem;
  background-color: #ecbabe;
}
