body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #9381ff;
}

.firstSection {
  background-color: #25283D;
  justify-content: center;  
}

.navBar {
  display: flex;
}

.Github,
.Twitter {
  display: flex;
  flex-direction: column;
  margin: auto;
  
}

.secondSection {
display: flex;
justify-content: center;
background-color: #2b2e46a9;
margin: 135px 166px auto 166px;
padding: 128px;
}


.footer {
  display: flex;
  
  justify-content: center;
  height: 60px;
  background-color:#25283d;
}

.userScore,
.computerScore {
  padding: 0rem 8rem;
}

.image{
  display: flex;
  align-items: center;
}

span {
  font-size: 3rem;
  font-weight: 600;
  color: #FFFE00 ;
}

ul {
  list-style: none;
}

a {
  color: #FFFE00;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 800;
}
